.navbar {
  display: flex;
  gap: 20px;
  padding: 16px 30px;
  background: #111827;
}

.navbar a {
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 500;
}

.navbar a:hover {
  color: #60a5fa;
}